<div class="card application-card mb-3" data-app-id="{{ app.id }}">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-start mb-2">
            <!-- Add User name w/ link to profile somehow -->
            <div>
                <h6 class="mb-1">
                    <!-- Make da link to da profile -->
                    <a href="{% url 'profiles.detail' app.user.username %}" target="_blank">
                        {{ app.user.get_full_name|default:app.user.username }}
                    </a>
                </h6>
                <small class="text-muted">
                    <!-- sHOW wjen last applied-->
                    <i class="far fa-calendar"></i> Applied {{ app.date|timesince }} ago
                </small>
            </div>
            <!-- Add Dropdown menu to move between stages / columns-->
            <div>

            </div>
            <!-- Add The Skills Section -->
            <div>

            </div>
            <!-- Add The Notes section-->
            <div>

            </div>
        </div>
    </div>
</div>