{% extends 'base.html'%}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>List of Jobs</h2>
        <hr />
        <p class="card-text">
          <form method="GET">
            <div class="row">
              <div class="col-auto">
                <div class="input-group col-auto">
                  <div class="input-group-text">Search</div>
                  <input type="text" class="form-control" name="search">
                </div>
              </div>
              <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-dark-outline dropdown-toggle" data-bs-toggle="dropdown" type="button">Filter</button>
                    <div class="dropdown-menu p-3" style="min-width: 350px;">
                        <!--Location Filter-->
                        <div class="mb-2">
                            <label class="form-label mb-1">Location</label>
                            <input type="text" class="form-control" name="location" placeholder="E.g. Massachussetts, New York, etc."/>
                        </div>
                        <!--Classification Filter-->
                        <div class="mb-2">
                            <label class="form-label mb-1">Work Type</label>
                            <select class="form-select mb-1" name="classification">
                                <option value="">[Please Select]</option>
                                <option value="On-Site" {%if request.GET.classification == "On-Site"%}selected{%endif%}>On-Site</option>
                                <option value="Hybrid" {%if request.GET.classification == "Hybrid"%}selected{%endif%}>Hybrid</option>
                                <option value="Remote" {%if request.GET.classification == "Remote"%}selected{%endif%}>Remote</option>
                            </select>
                        </div>
                        <!--Salary Range Filter-->
                        <div class="mb-2">
                          <label class="form-label mb-1">Salary Range</label>
                          <div class="row">
                            <div class="col">
                              <input type="number" class="form-control" name="min_salary" placeholder="Minimum Salary" value={{request.GET.min_salary}}>
                            </div>
                            <div class="col">
                              <input type="number" class="form-control" name="max_salary" placeholder="Maximum Salary" value={{request.GET.max_salary}}>
                            </div>
                          </div>
                        </div>
                        <!--Sponsorship Filter-->
                        <div class="mb-2">
                            <label class="form-label mb-1">Visa Sponsoring</label>
                            <select class="form-select mb-1" name="sponsorship">
                                <option value="">[Please Select]</option>
                                <option value="Sponsoring" {%if request.GET.sponsorship == "Sponsoring"%}selected{%endif%}>Sponsoring visas/OPT or CPT applicants allowed</option>
                                <option value="Not Sponsoring" {%if request.GET.sponsorship == "Not Sponsoring"%}selected{%endif%}>US Work Authorization Required/Not Sponsoring</option>
                            </select>
                        </div>
                        <!--Skills Filter-->
                        <div class="mb-2">
                            <label class="form-label mb-1">Skills</label>
                            <input type="text" class="form-control" name="skills" placeholder="Git, SQL, Node.js, etc."/>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-auto">
                <button class="btn bg-dark text-white" type="submit">Search</button>
              </div>
            </div>
          </form>  
        </p>     
        
     </div>
   
      </div>
    </div>
    <div class="col">
      {% for job in template_data.jobs %}
      <div class="col-12 mb-3">
        <div class="card w-100">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-1">{{job.title}} by {{job.recruiter}}</h5>
                <p>
                    {{job.location}} | {{job.classification}} | {{job.start_date}} - {{job.end_date}} | {% if job.isSponsoring == True %}Sponsoring{% else %} Not Sponsoring {% endif %}
                </p>
            </div>
            <div class="d-flex flex-wrap gap-2">
              {% for s in job.get_skills_list %}
                <span class="badge bg-secondary">{{ s }}</span>
              {% endfor %}
            </div>
            <a href="{% url 'jobs.listing' id=job.id %}"
              class="btn bg-dark text-white">
              View
            </a>
            <a href="{% url 'jobs.apply' id=job.id %}" class="btn bg-dark text-white">
              Apply
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}