{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
           At LockedIn, we offer a vast environment
           for job-seekers and recruiters to find
           employment as fast as possible! Browse our
           extensive collection job listings, including the
           latest releases, FANG-Level listings, and hidden
           gems. With just a few clicks, you can quickly
           network with others, or apply to any job listing.
        </p>
        <p>
          Discover the convenience of our digital platform,
          where you have the flexibility to find employment
          on any device, whether it's a smart TV, tablet, or 
          smartphone. With our intuitive search and 
          recommendation features, finding your
          next work experience has never been easier.
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/salsa_4.jpg' %}"
             class="max-width-100"
             alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}